{
box-sizing: border-box;
padding: 0;
	margin: 0;
	
}
body {
  font-family: "San Francisco Display Black", "San Francisco Display Bold", "San Francisco Display ExtBd", "San Francisco Display Light", "San Francisco Display Med", "San Francisco Display Regular", "San Francisco Display SemBd", "San Francisco Display Thin", "San Francisco Display UltLt", "San Francisco Text BldIta G1", "San Francisco Text BldIta G2", "San Francisco Text Bold", "San Francisco Text Bold G1", "San Francisco Text Bold G2", "San Francisco Text Bold G3", "San Francisco Text Bold Ita", "San Francisco Text BoldIta G3", "San Francisco Text ExtBd", "San Francisco Text ExtBd Ita", "San Francisco Text Italic", "San Francisco Text Italic G1", "San Francisco Text Italic G2", "San Francisco Text Italic G3" , "San Francisco Text Light", "San Francisco Text Light Italic", "San Francisco Text Med", "San Francisco Text Med Ita", "San Francisco Text Regular", "San Francisco Text Regular G1", "San Francisco Text Regular G2", "San Francisco Text Regular G3", "San Francisco Text SemBd", "San Francisco Text SemBd Ita", "San Francisco Text Thin", "San Francisco Text Thin Italic";
  background: #EFF3F8;
	max-width: 1366px;
	height: 2501.49px;
}
.column1left{
background-color: #FFFFFF;
position: absolute;
width: 355.73px;
height: 976.12px;
left: 0px;
top: 0px;
	position: fixed;
}
.column2{
position: absolute;
width: 947.66px;
height: 215.57px;
left: 387.03px;
top: 36.28px;
border-radius:19.13px;
	background-color: #FFFFFF;
}
.column3{
	position: absolute;
width: 231.22px;
height: 231.22px;
left: 387.03px;
top: 266.27px;
	background-color: #FFFFFF;
	border-radius:12.75px;
}
.column4{
	position: absolute;
width: 231.22px;
height: 231.22px;
left: 630.35px;
top: 266.27px;
background-color: #FFFFFF;
	border-radius:12.75px;
}
.column5{
	position: absolute;
width: 461.03px;
height: 231.22px;
left: 873.67px;
top: 266.27px;

background-color: #FFFFFF;
	border-radius:12.75px;
}
.column6{
	position: absolute;
width: 704.34px;
height: 231.22px;
left: 387.03px;
top: 509.59px;

	background-color: #FFFFFF;
	border-radius:12.75px;
}
.column7{
	position: absolute;
width: 231.22px;
height: 231.22px;
left: 1103.47px;
top: 509.59px;

background-color: #FFFFFF;
	border-radius:12.75px;
}
.column8{
	position: absolute;
width: 231.22px;
height: 231.22px;
left: 387.03px;
top: 752.91px;


background-color: #FFFFFF;
	border-radius:12.75px;
	
}
.column9{
	position: absolute;
width: 704.34px;
height: 231.22px;
left: 630.35px;
top: 752.91px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.column10{
	position: absolute;
width: 947.66px;
height: 215.57px;
left: 387.03px;
top: 998.36px;

	background-color: #FFFFFF;border-radius:19.13px;
}
.column11{
	position: absolute;
width: 231.22px;
height: 231.22px;
left: 387.03px;
top: 1228.16px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.column12{
position: absolute;
width: 231.22px;
height: 231.22px;
left: 387.03px;
top: 1471.48px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.column13{position: absolute;
width: 704.34px;
height: 474.54px;
left: 630.35px;
top: 1228.16px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.column14{
	position: absolute;
width: 461.03px;
height: 231.22px;
left: 387.03px;
top: 1714.8px;


	background-color: #FFFFFF;border-radius:12.75px;

}
.column15{
	position: absolute;
width: 474.54px;
height: 231.22px;
left: 860.15px;
top: 1714.8px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.column16{
	position: absolute;
width: 947.66px;
height: 475.25px;
left: 387.03px;
top: 1958.12px;

	background-color: #FFFFFF;border-radius:12.75px;
}
.source{position: absolute;
width: 195.65px;
height: 12.09px;
left: 764.82px;
top: 2478.19px
}
.circle{
	position: absolute;
width: 218px;
height: 218px;
left: 69px;
top: 0px;
	background-image:url("../Downloads/New folder/avatar.gif");
	display: flex;
	align-items: center;
	background-position:center;
	background-size: cover;
	justify-content: center;}

.gioitinh{
	position: absolute;
width: 300.03px;
height: 113.12px;
left: 27.75px;
top: 214.86px;
}
.khoasv{
position: absolute;
width: 300.24px;
height: 308.57px;
left: 27.75px;
top: 363.56px;
}
.tieude1{
	position: absolute;
width: 337.23px;
height: 49.8px;
left: 474.54px;
top: 118.1px;
}
.imgtieude1{
position: absolute;
width: 430px;
height: 242px;
left: 842px;
top: 10px;
	background-image: url("../Downloads/New folder/xac-dinh.gif");
	display: flex;
	align-items: center;
	background-position:center;
	background-size: cover;
	justify-content: center;}
.imgcolumn3{
	position: absolute;
width: 192.81px;
height: 199.3px;
left: 404.82px;
top: 280.5px;
}
.imgcolumn4{
position: absolute;
width: 184.05px;
height: 184.36px;
left: 648.14px;
top: 280.5px;
}
.imgcolumn5{
position: absolute;
width: 387px;
height: 197.57px;
left: 881px;
top: 280.5px;
}
.imgcolumn6{
	position: absolute;
width: 642.45px;
height: 177.15px;
left: 404.82px;
top: 523.82px;

}
.imgcolumn7{
	position: absolute;
width: 192.81px;
height: 191.38px;
left: 1121.26px;
top: 523.82px;
}
.imgcolumn8{
	position: absolute;
width: 178.58px;
height: 170.75px;
left: 404.82px;
top: 767.13px;

}
.imgcolumn9{
	position: absolute;
width: 616.83px;
height: 171.55px;
left: 648.14px;
top: 767.36px;
}
.tieude2{
	position: absolute;
width: 291.7px;
height: 49.8px;
left: 973.28px;
top: 1080.18px;
}
.imgtieude2{
	position: absolute;
width: 493px;
height: 278px;
left: 441px;
top: 936px;
display: flex;
	align-items: center;
	background-position:center;
	background-size: cover;
	justify-content: center;
	background-image: url("../Downloads/New folder/ly-giai.gif");
}
.imgcolumn11{
	position: absolute;
width: 183.34px;
height: 184.36px;
left: 404.82px;
top: 1242.39px;
}
.imgcolumn12{
	position: absolute;
width: 191.88px;
height: 204.28px;
left: 404.82px;
top: 1485.71px;

}
.imgcolumn13{
	position: absolute;
width: 636.81px;
height: 428.3px;
left: 648.14px;
top: 1242.39px;
}
.imgcolumn14{
	position: absolute;
width: 416.91px;
height: 196.36px;
left: 404.82px;
top: 1729.03px;

}
.imgcolumn15{
	position: absolute;
width: 444.66px;
height: 204.19px;
left: 867.27px;
top: 1729.03px;

}
.imgcolumn16{
	position: absolute;
width: 894.3px;
height: 455.33px;
left: 404.82px;
top: 1972.34px;

}